<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.ssoft.securebrowser">

    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />
    <uses-sdk tools:overrideLibrary="com.felix.bottomnavygation" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/browser_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/browser_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.ssoft.securebrowser.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="anton" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.ssoft.securebrowser.BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />
        <activity
            android:name="com.app.ssoft.securebrowser.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />
        <activity
            android:name="com.app.ssoft.securebrowser.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a70a2cc6b67d860f81795b637ad1b07304549055" />

        <receiver
            android:name="com.app.ssoft.securebrowser.DownloadReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.app.ssoft.securebrowser.DownloadActivity"
            android:label="@string/title_activity_download"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.shekaharshrivastava.custombrowser"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>